<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/multitienda/multitienda/static/imagenes/logo_vale.png" />
  <link rel="shortcut icon" type="image/png" href="/multitienda/multitienda/static/imagenes/logo_vale.png" />
  <title>{% block title %}{{ title or "Backend" }}{% endblock %}</title>
  <link rel="stylesheet" href="/multitienda/static/css/base.css" />
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
